[submodule "backend"]
	path = backend
	url = git@github.com:webforeman/files-api.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:webforeman/files-frontend.git
[submodule "database"]
	path = database
	url = git@github.com:webforeman/files-database.git
[submodule "inmemory"]
	path = inmemory
	url = git@github.com:webforeman/files-inmemory.git
[submodule "proxy"]
	path = proxy
	url = git@github.com:webforeman/proxy.git
